name: Run Node Script

on:
  schedule:
    # 1. NIGHT SHIFT: Every 20 mins from 6:30 PM to 2:30 AM PKT
    # UTC: 13:30 to 21:30
    - cron: '30,50 13 * * *'     # 6:30 PM, 6:50 PM PKT
    - cron: '*/20 14-20 * * *'   # 7:00 PM - 1:40 AM PKT
    - cron: '10,30 21 * * *'     # 2:10 AM, 2:30 AM PKT

    # 2. EARLY MORNING: Every 1 hr (at sharp :00) from 2:30 AM to 6:30 AM PKT
    # UTC: 21:30 to 01:30
    - cron: '0 22,23 * * *'      # 3:00 AM, 4:00 AM PKT
    - cron: '0 0,1 * * *'        # 5:00 AM, 6:00 AM PKT

    # 3. DAY SHIFT: Every 2 hrs from 6:30 AM to 6:30 PM PKT
    # UTC: 01:30 to 13:30
    - cron: '30 1-11/2 * * *'    # 6:30, 8:30, 10:30, 12:30, 2:30, 4:30 (PKT)
    
  workflow_dispatch:             # Allows manual run from GitHub UI

jobs:
  run-node:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 20

      - name: Install dependencies
        run: |
          if [ -f ci.json ]; then mv ci.json package.json; fi
          npm install

      - name: Run script
        run: node scripts/index.js
