name: Run Node Script

on:
  schedule:
    # Runs every 30 minutes (at :00 and :30 past every hour)
    - cron: '0,30 * * * *'
    
  workflow_dispatch:             # Allows manual run from GitHub UI

jobs:
  run-node:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 20

      - name: Install dependencies
        run: |
          if [ -f ci.json ]; then mv ci.json package.json; fi
          npm install

      - name: Run script
        run: node scripts/index.js
